//- mixin myli (clave, valor)
//- 		li(class!=attributes.class) Clave: #{clave} | Valor: #{valor}

html
	head
		include ./head.jade
	body
		block mauro

		//- case numero
		//- 	when 1
		//- 		p El numero es 1
		//- 	when 2
		//- 		p El numero es 2
		//- 	default
		//- 		p El numero es otro diferente a 1 y 2

